{% extends 'main/base.html' %}
{% load static %}
{% block title %} الأسئلة الشائعة {% endblock %}

{% block content %}


<section>
    <div class="container mt-5 mb-5 pt-5 ">
        <div class="row text-center g-2 d-flex justify-content-center">
            <h1 class="display-5 fw-bold">كيف نقدر نساعدك؟</h1>
            <p>كيف نقدر نساعدك هنا مع محزم عندك اهم الاسئلة الشائعة </p>
            <div class="w-75">
                <form method="GET">
                    <div class="input-group border rounded-pill p-1">
                        <input name="q" value="{{ search_query }}" type="search" placeholder="ابحث عن سؤالك هنا" aria-describedby="button-addon3" class="form-control border-0 rounded-pill">
                        <div class="input-group-append border-0">
                        <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-5">
                <div class="accordion" id="accordionFlushExample">
                    {% for q in questions_answers %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
                                    <h6>{{ q.question }} </h6>
                                </button>
                            </h2>
                            <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>{{ q.answer }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>لا توجد أسئلة.</p>
                    {% endfor %}
                    <div class="mt-5 d-flex justify-content-center flex-column text-center align-items-center mb-5">
                        <p>
                            إذا لم تجد الإجابة على استفسارك، لا تتردد في التواصل مع فريق الدعم الفني. نحن هنا لمساعدتك في أي وقت.
                        </p>
                        <a href="{% url 'contact:contact_view' %}" class="btn btn-primary rounded-pill w-50 justify-content-center ">تواصل معنا</a>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-1 d-flex align-items-center justify-content-center gap-3 flex-lg-column">
                <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
                <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="{% static 'images/qus.png' %}" alt="login img" class="log-img" style="width: 100%;">
            </div>
        </div>
    </div>
</section>
{% endblock %}
