{% extends 'main/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
{% load static %}

<section class="bg-dark" style="width: 100%; height: 300px;"></section>

<section>
    <div class="container">
        <div class="row">
            <!-- عرض المرفقات -->
            <div class="col-md-6">
                <div class="row mt-4">
                    {% for attachment in attachments %}
                        <div class="col-6 mb-0">
                            <div class="PL d-flex flex-column gap-3 border border-1 shadow p-2 rounded-3 h-100 mb-4">
                                <p>{{ attachment.group }}</p>
                                <p>{{ attachment.title }}</p>
                                <a href="{{ attachment.media.url }}" target="_blank">View Media</a>
                                <h6>{{ attachment.uploaded_at }}</h6>
                                
                         
                            
                              
                            <a href="{% url 'attachments:delete_attachment' attachment.id  group.id %}" class="btn btn-dark">Delete</a>
                            <a href="{% url 'attachments:update_attachment' attachment.id group.id %}" class="btn btn-dark">Update</a>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>

            <!-- هنا زر الاضافه للميديا -->
            <div class="col-md-6" style="margin-left: 600px; margin-top: -50px;">
                <button type="button" class="btn btn-dark float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Update Media
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Attachment Form</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               
                                <form action="{% url 'attachments:update_attachment_view' attachment.id  group.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                    {% csrf_token %}
                                  
                                    <div class="row">
                                        <h2> Update Attachment</h2>
                                        <div class="col-md-6">
                                            <h4>Title</h4>
                                            <input name="title" type="text" placeholder="Science" class="form-control"  value="{{attachment.title}}" />
                                        </div>
                                    </div>
                                    <div>
                                        <h5>Choose media:</h5>
                                        <img src="{{attachment.media.url }}" style="width: 150px;"/>
                                        <input name="media" type="file" accept="image/*, video/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="form-control"  value="{{attachment.title}}" />
                                    </div>
                                  
                                    <input type="submit" class="btn btn-dark" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}