{% extends 'main/dashboard_base.html' %}

{% load static %}

{% block style %}
 <style>
body{
  overflow-x: hidden;
 
}
.btn {
    width: 40px !important;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
     
    
}
.dropdown-menu {
    min-width: 100px !important;
}

.dropdown-item {
    padding: 0px 5px !important;
    font-size: 12px !important;
}

 </style>

{% endblock %}

 {% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}


<div class="row ">
<div class="col-2 mt-3">

<div class="group-info">

<h6 class="disctions_title2">الجلسات </h6>
{% for session in sessions %}
    {% if session.study_group_id == group.id %}
        {% if session.user_id == user.id %}
            <div class="requests_card">
                {{ session.topic }}
                {{ session.start_time }}
                <a href="{{ session.start_url }}" target="_blank" class="btn btn-success mr-3">بدء الاجتماع</a>
            </div>
        {% else %}
            <div class="requests_card">
                {{ session.topic }}
                {{ session.start_time }}
                <a href="{{ session.join_url }}" target="_blank" class="btn btn-info">الانضمام إلى الاجتماع</a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}


</div>
</div>


<!-- contant -->
  <div class="col-md-9 mt-5 d-flex flex-column align-items-end">
  <div class="row">
    <div class="col">
      

  <div class="banner-box2">
   <img class="circle3" src="{{group.icon.url}}">
<div class="banner-title">
<h1> {{group.name}}</h1>
<h4>{{group.description}}</h4>
</div>

</div>



 

      
      
    </div>
  </div>

  <!-- Discussion -->
  <div class="row ">
    <div class="col">
      
      <div class="file-box">
      
      
      <h2 class="disctions_title">الملفات</h2>

       <button type="button" class="btn btn-dark float-end" data-bs-toggle="modal" data-bs-target="#addAttachmentModal">
                    إضافة ملف
                </button>
        <div class="file-box2">
        <div class="row">
          {% for attachment in attachments %}
                <div class="col-3 col-md-2 mb-5">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center gap-2" >
                                {% if attachment.media.url %}
                                    {% if attachment.media.url|lower|slice:'-4:' == '.jpg' or attachment.media.url|lower|slice:'-5:' == '.jpeg' or attachment.media.url|lower|slice:'-4:' == '.png' %}
                                        <img src="{{ attachment.media.url }}" width="100%" height="200px">
                                    {% else %}
                                    <img src="{% static 'images/pdf.png' %}" width="100%" height="200px" >
                                    {% endif %}
                                {% endif %}
                                
                                <div>
                                    <h5><a href="{{ attachment.media.url }}" target="_blank">{{ attachment.title }}</a></h5>
                                    <p style="font-size: 12px; color: grey;">{{ attachment.uploaded_at }}</p>
                                </div>

                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <button type="button" class="btn btn-danger text-decoration-none rounded-pill"><a href="{% url 'attachments:delete_attachment_view' attachment.id group.id %}" class="text-decoration-none text-white"><i class="fa-solid fa-trash"></i></a></button>
                                    <button type="button" class="btn btn-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#updateAttachmentModal{{ attachment.id }}">
                                       <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    
                                    <!-- update modal -->
                                    <div class="modal fade" id="updateAttachmentModal{{ attachment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">تحديث الملف</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'attachments:update_attachment_view' attachment.id group.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h4>اسم الملف</h4>
                                                                <input name="title" type="text" placeholder="Science" class="form-control" value="{{ attachment.title }}" />
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <h5>اختيار الملف:</h5>
                                                            {% if attachment.media.url %}
                                                                {% if attachment.media.url|lower|slice:'-4:' == '.jpg' or attachment.media.url|lower|slice:'-5:' == '.jpeg' or attachment.media.url|lower|slice:'-4:' == '.png' %}
                                                                    <img src="{{ attachment.media.url }}" style="width: 150px;"/>
                                                                {% else %}
                                                                    <p>الملف: {{ attachment.media.name }}</p>
                                                                {% endif %}
                                                            {% endif %}
                                                            <input name="media" type="file" accept="image/*, video/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="form-control" />
                                                        </div>
                                                        <input type="submit" class="btn btn-success" value="تحديث" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- نهاية تحديث  -->

                                </div>        
                            </div>    
                        </div>
                </div>
            {% endfor %}
            </div>

      </div><!---->
    </div>
  </div>
  </div>
</div><!-- col end -->




  <div class="col-md-1 d-flex flex-column ">
    <div class="sid_bar2">
    <div class="sid-info2">
     <a class="dropdown-item" href="{% url 'main:user_dashboard_view' user.id %}"><img class="profile-img2"src="{{user.profile.avatar.url}}"></a><br><br>
     <a class=" " href="{% url 'zoom:create_zoom_meeting_view' group.id user.id %}"><i class="sid_icon fa-solid fa-plus"></i> </a><br><strong class="sid_font ">جلسة </strong><br><br>

    <a href="{% url 'main:group_dashboard_view' group.id user.id %}"><i class=" sid_icon fa-solid fa-table-columns"></i><a><br><strong class="sid_font ">المجموعة </strong><br><br>
    <a href="{% url 'attachments:all_attachment_view' group.id %}"><i class=" sid_icon fa-solid fa-folder"></i><a><br><strong class="sid_font ">ملفات </strong><br><br>
    <a href="{% url 'review_sets:all_sets_view' group.id %}"><i class=" sid_icon fa-solid fa-book"></i><a><br><strong class="sid_font ">اسأله </strong><br><br>
           
            
    
    <!--member leave group button-->
{% for request in user_requests %}
{% if request.member_id == user.id and request.group_id == group.id and request.group.creator != request.member %}
<form action="{% url 'main:accept_reject_member_request_view' user.id request.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="status" value="Reject">
<button class="leave"type="submit"> <i class="fa-solid fa-arrow-right-from-bracket"></i> </button>
</form>
{% endif %}
{% endfor %}

<!--leader delete group button-->
{% for request in user_requests %}
{% if request.member_id == user.id and request.group_id == group.id and request.group.creator == request.member %}
<form action="{% url 'main:creator_delete_group_view' group.id %}" method="post">
{% csrf_token %}
<button class="leave"type="submit"><i class="fa-solid fa-trash"></i></button>
</form>
{% endif %}
{% endfor %}
    </div>
    </div>
  </div>

  
</div><!--end row -->


                
                </div>
            </div>







               


                <!-- add Modal -->
                <div class="modal fade" id="addAttachmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">إضافة ملف</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'attachments:add_attachment_view' group.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                    {% csrf_token %}
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <h4>اسم الملف</h4>
                                            <input name="title" type="text" placeholder="Science" class="form-control" required minlength="2" />
                                        </div>
                                    </div>
                                    <div>
                                        <h5>اختيار الملف:</h5>
                                        <input name="media" type="file" accept="image/*, video/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="form-control" required />
                                    </div>
                                    <input type="submit" class="btn btn-success" value="إضافة الملف" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>
  {% endblock %}