{% extends 'main/dashboard_base.html' %}
{% load static %}

 {% block content %}


<div class="row">
<div class="col-3 col-sm-3">
<div class="back_box"> 
<div class="banner-title">
<h1> {{user.first_name}}     مرحبا بك </h1>
<h4>اي عباره ترحيبيه</h4>
</div>
</div>
<div class="tool_box">
<h4 class="user_dash_title">الوصول السريع</h4>
<div class="line2"></div>
<a href="{% url 'contact:message_view' %}" class=" nav_a2 text-decoration-none ">جميع الرسائل</a>
<a href="{% url 'common_questions:support_question_answer' %}" class=" nav_a2 text-decoration-none ">اضافة سؤال</a>


</div><!--end box-->
<!--todo list-->
<div class="groups_box6">
<h4 class="user_dash_title">المهام</h4>
<div class="line2"></div>
		<div class="">
			
        
        <div class="list_t">
        <li>
					<input type="checkbox" id="check-1" >
					<label for="check-1">Shop</label>
          <span class="todo-icons">
          <a href="/"><i class=" icon_ fas fa-edit"></i></a></span>
         <span class=""> <a href="/"><i class=" icon_ fas fa-trash-alt"></i></a></span>
          
          </li>
          </div>
				
			</ol>
		</div>
    <div class="todo">
        <input  name="message" placeholder="اكتب مهمتك هنا" type="text">
        <button type="submit">اضافة</button>
      </div>
	</div>
</div><!--col end-->

<div class="col-6 col-sm-6 d-flex flex-column align-items-end">
<div class="back_box1"></div>
<div class="groups_box_ad">
<div class="fixed_title">
<h4 class="user_dash_title">ادارة المجموعات</h4>
<div class="line"></div>
</div>
<div class="row">
<div class="col-md-2">
<button type="submit" class="b3 shadow"> <a  href="{% url 'main:create_group_view' user.id   %}"> انشاء مجموعة </a> </button> 
</div>
</div>
<!--groups -->
<div class="row">
{% for group in all_group_admin%}
<div class="col-6 mt-4">
<div class="ag-courses_item">
  <a class="ag-courses-item_link" href="{% url 'main:group_dashboard_view' group.id user.id  %}">
    <div class="ag-courses-item_bg"></div>
    <div class="ag-courses-item_title">
   {{group.name}}
    </div>
    <div class="ag-courses-item_date-box">
      <div calss="member-img_card"> <img class="member-img" src="{{group.icon.url}}"> </div>
      <span class="ag-courses-item_date"> {{group.creator.first_name}} {{group.creator.last_name}} </span>
      <form action="{% url 'main:admin_delete_group_view' group.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="group" value="delete">
<button class="reject"type="submit">delete</button>
</form>
    </div>
  </a>
</div>
</div><!--col-->

{% endfor %}

</div><!--end row-->
</div><!--end box-->
<div class="groups_box2">

<h4 class="user_dash_title-group">مجموعاتي</h4>
<div class="line3"></div>

<div class="row mt-4">
</div>
<!--groups user is a leader-->

<div class="row">
  {% for i in user_requests %}
    {% if i.status == 'Accept' and i.group.creator == i.member %}
      <div class="col-3">
        <div class="leader_group">
          <img class="member-img" src="{{ i.group.icon.url }}"> 
          <span class="name-group"><a class ="text-decoration-none"href="{% url 'main:group_dashboard_view' i.group.id user.id  %}" class="gap">{{i.group.name}} </a></span>
        </div>
      </div><!-- col -->
    {% endif %}
  {% endfor %}

</div><!--end row-->
</div><!--end box-->

</div><!--col end-->

<div class="col-3 col-sm-3 d-flex flex-column ">
<div class="profile-sid">
<div class="profile-sid-img">
<img class="profile-sid-img" src="{{user.profile.avatar.url}}">
</div>
<div class="user-info">
<h4></h4>
<h4>{{user.first_name}} {{user.last_name}}</h4>
 <p></p><a class="text-decoration-none" href="mailto:{{user.username}}">{{ user.username }}</a>
 <br><br>

 <div class="profile-userbuttons">
<a href="{% url 'accounts:update_user_profile_view' %}" class="btn1 btn-primary">Edit profile info</a>
</div>
<br>
 <div class="profil-lin"></div>
<p>{{user.profile.bio}}</p>

</div>

<div class="profil-footer">
<div class="profil-lin"></div>
<ul class="example-2">
  <li class="icon-content">
    <a
      href="{{ user.profile.linkedin_link.url}}"
      aria-label="LinkedIn"
      data-social="linkedin"
    >
      <div class="filled"></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-linkedin"
        viewBox="0 0 16 16"
        xml:space="preserve"
      >
        <path
          d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
          fill="currentColor"
        ></path>
      </svg>
    </a>
    <div class="tooltip">LinkedIn</div>
  </li>
  <li class="icon-content">
    <a href="{{ user.profile.github_link.url }}" aria-label="GitHub" data-social="github">
      <div class="filled"></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-github"
        viewBox="0 0 16 16"
        xml:space="preserve"
      >
        <path
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
          fill="currentColor"
        ></path>
      </svg>
    </a>
    <div class="tooltip">GitHub</div>
  </li>
  
</ul>
</div><!--end footer-->
</div>

</div><!--col end-->

</div><!--end row-->

<div class="row">
<div class="col-3 d-flex ">

</div><!--col end-->
<div class="col-9 d-flex ">
ffvdvvf,l
</div><!--col end-->

</div><!--end row-->
</div>



  {% endblock %}