{% extends 'main/dashboard_base.html' %}
{% load static %}
{% block style %}
 <style>

body{
  overflow-x: hidden;
 
}


  </style>

{% endblock %}
 {% block content %}


<div class="row mt-5">
<div class="col-6 mt-5"> 

<img  src="{% static 'images/teamwork.png' %}" style="width: 90%;">


</div>
<div class="col-6 mt-5">
<div class="add_form">
 <form action="{% url 'main:create_group_view' user.id%}"  method="POST" enctype="multipart/form-data" class="form_main">
 {% csrf_token %}
    <p class="heading">انشاء مجموعة</p>
    <div class="inputContainer">
  <label for="text">اسم المجموعة</label>
       <input type="text" name="name" class="inputField" required minlength="4" />
    </div>
    
<div class="inputContainer">
    <label for="text"> وصف المجموعة</label>
    <input type="text" class="inputField" name="description"  required />
</div>
                 
<div class="inputContainer">
<label for="text">اختيار الصورة</label>
     <input name="icon"  type="file"  accept="image/*" class="inputField" />
    
</div>
              
           
<button id="button">انشاء</button>
   
</form>
</div>


</div>



   {% endblock %}