{% extends 'main/base.html' %}
{% load static %}

{% block title %} الصفحة الرئيسية {% endblock %}

{% block content %}
<section class="" style="background-image:url('/static/images/hero.png'); width: 100%; height: 100vh; object-fit: cover; ">
  <div class="container pt-5">
    <div class="row d-flex justify-content-center align-items-center pt-5">
      <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center gap-3 pt-5">
        <h1 class="text-center fw-bold mb-4 pt-5" style="font-family: Marhey, sans-serif; color: white; font-size: 180px;">مِحزم</h1>
        <p class="col-12 col-sm-10 col-md-8 col-xxl-7 text-center" style="font-family: Marhey, sans-serif; color: white; font-size: 30px;">  منصة دراسية ما تخذلك أبد! تساعدك, نعين ونعاون
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{% url 'accounts:user_login_view' %}" class="btn bg-white rounded-pill" style="color:#41b853; font-size: 20px;">انضم لنا الان</a>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- About 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="{% static 'images/l-hero.png' %}" alt="About 2">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <div>
              <h2 class="mb-3 fw-bold display-5">ليش منصة مِحزم؟</h2>
              <hr class=" mx-auto mt-4 border-dark-subtle">
            </div>
           
            <p class="lead fs-5 mb-3 mb-xl-5">المحزم هو الشخص الفزعة المستعد لِمد يد العون لمن يعرف ومن لا يعرف .محزم عبارة عن مجتمع افتراضي عالمي مصمم لمساعدتك تكون متحفز ومركز على دراستك , ويمكِّنك حتى تساعد وتدعم وتشارك معرفتك مع الغير</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">الميزة الأولى</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">الميزة الثانيه</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">الميزة الثالثة</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wow fadeIn animated py-5" style="visibility: visible; animation-name: fadeIn; background-color: rgba(128, 128, 128, 0.034);">
  <div class="container">
      <div class="row">
          <!-- counter -->
          <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
              <i class="fa fa-beer medium-icon"></i>
              <span id="anim-number-pizza" class="counter-number"></span>
              <span class="timer counter alt-font appear" data-to="980" data-speed="7000">2800</span>
              <p class="counter-title">Beer Ordered</p>
          </div>
          <!-- end counter -->
          <!-- counter -->
          <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
              <i class="fa fa-heart medium-icon"></i>
               <span class="timer counter alt-font appear" data-to="980" data-speed="7000">980</span>
              <span class="counter-title">Happy Clients</span>
          </div>
          <!-- end counter -->
          <!-- counter -->
          <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
              <i class="fa fa-anchor medium-icon"></i>
               <span class="timer counter alt-font appear" data-to="810" data-speed="7000">810</span>
              <span class="counter-title">Projects Completed</span>
          </div>
          <!-- end counter -->
          <!-- counter -->
          <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
              <i class="fa fa-user medium-icon"></i>
               <span class="timer counter alt-font appear" data-to="600" data-speed="7000">600</span>
              <span class="counter-title">Clients Served</span>
          </div>
          <!-- end counter -->
      </div>
  </div>
</section>



<!-- Fact 3 - Bootstrap Brain Component -->
<section class=" py-3 py-5 md-5 ">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
              <h2 class=" fw-bold display-5 text-center">أرقام هامه</h2>
              <p class="text-secondary  tet-center"></p>
              <hr class="w-50 mx-auto mt-4 border-dark-subtle">
            </div>
          </div>
    </div>
  
    <div class="container px-4">
      <div class="row gy-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-md-6">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-md-10">
              <div class="row gy-4 gy-sm-0 overflow-hidden">
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                    <div class="card-body text-center p-3 p-xxl-5">
                      <h6 class="display-5 fw-bold mb-2">60</h6>
                      <p class="fs-5 mb-0 text-secondary">Finished Projects</p>
                    </div>
                  </div>
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-3 p-xxl-5">
                      <h6 class="display-5 fw-bold mb-2">18k+</h6>
                      <p class="fs-5 mb-0 text-secondary">Issues Solved</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                    <div class="card-body text-center p-3 p-xxl-5">
                      <h3 class="display-5 fw-bold mb-2">10k+</h3>
                      <p class="fs-5 mb-0 text-secondary">Happy Customers</p>
                    </div>
                  </div>
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-3 p-xxl-5">
                      <h3 class="display-5 fw-bold mb-2">78</h3>
                      <p class="fs-5 mb-0 text-secondary">Awwwards</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="img-fluid rounded" loading="lazy" src="{% static 'images/numbers.png' %}" alt="Our Success">
        </div>
      </div>
    </div>
  </section>


{% endblock %}