{% extends 'main/dashboard_base.html' %}
{% load static %}
{% block style %} 

 <style>
body{
  user-select: none;
   overflow-x: hidden;
   margin: 20px 20px;
   margin-left: 2vw;
    margin-right: 10vw;
}


.wrap-list{
	height: 85%;
	padding: 20px 0px;
	box-shadow: inset 0 0px 5px black;
	border-radius: 0 0 10px 10px;
	background-image: linear-gradient(transparent 97%, gray 100%);
}

input[type="checkbox"]{
  position: relative;
  top: 14px;
  right: 12px;
	float: right;
}
input[type="checkbox"]:checked + label{
	text-decoration: line-through;
	color: rgba(0,0,0,.3);
}
.list{

	list-style: none;
	color: rgba(0,0,0,.7);
}
.list li:nth-child(odd){
	background: rgba(0,0,50,.1);
  border-radius: 10px;
}
.list li{
  
	float: left;
	width: 100%;
  border-radius: 10px;
  
}
label{

  padding: 10px;
	cursor: pointer;
	float: left;
	width: 95%;
	transition: all .3s ease;
}
 </style>

{% endblock%}
 {% block content %}


<div class="row mt-5">
<div class="col-9 "><div class="banner-box"> 
<div class="banner-info">
<h1 >{{user.first_name}} {{user.first_name}} اهلا</h1>
 <p></p><br><a class="text-decoration-none" href="mailto:{{user.username}}">{{ user.username }}</a>
</div>


</div>  </div>
<div class="col-3 "><div class="circle2"> <image class ="circle"src="{{user.profile.avatar.url}}"> </div></div>

</div><!--row end -->

<div class="row">
<div class="col-3 ">
<div class="groups_box3">
<h4 class="user_dash_title">التنبيهات</h4>
<div class="line2"></div>

{% for request in user_requests %}
    {% if request.status == 'Pending' %}
        <div class="requests_card">
        <img class="member-img" src="{{ request.group.icon.url }}" alt="Group Icon">
            <p class="request_name"> {{ request.group.name }}</p>
            <form action="{% url 'main:accept_reject_member_request_view' user.id request.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="status" value="Accept">
                <button class="accept" type="submit">Accept</button>
            </form>

            <form action="{% url 'main:accept_reject_member_request_view' user.id request.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="status" value="Reject">
                <button class=" reject" type="submit">Reject</button>
            </form>
        </div>
        <div class="line_r"></div>
    {% endif %}
{% endfor %}

</div><!--end box3-->
<!--todo list-->
<div class="groups_box6">
<h4 class="user_dash_title">المهام</h4>
<div class="line2"></div>
		<div class="">
			
       <ol class="list_t">
      {% for todo in todo_list %}
      {% if todo.user_id == user.id%}
      <span class="list">
				<li>
					<input type="checkbox" id="check-{{ todo.id }}" >
					<label calss="task1"for="check-1">{{todo.todo}} </label>
          <span class="todo-icons">
          <a data-bs-toggle="modal" data-bs-target="#todo{{ todo.id }}" href="{% url 'todo_list:update_todo_view' todo.id user.id %}"><i class="fas fa-edit"></i></a>
          <a href="{% url 'todo_list:delete_todo_view' todo.id user.id %}"><i class="fas fa-trash-alt"></i></a>
          </span>
				</li>
        {% endif%}
        {% endfor %}
        </span>
				
			</ol>
		</div>
    <div class="todo">
     <form action="{% url 'todo_list:add_todo_view' user.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
        {% csrf_token %}
        <input  name="todo" placeholder="اكتب مهمتك هنا" type="text">
        <button type="submit">اضافة</button>
        </form>
      </div>
	</div>
</div><!--col endjjjjjjj-->
<div class="col-6  ">


<div class="groups_box">
<div class="fixed_title">
<div><button type="submit" class="b3 "> <a  href="{% url 'main:create_group_view' user.id   %}"> انشاء مجموعة </a> </button> </div>
<h4 class="user_dash_title">المجموعات</h4>
<div class="line"></div>

</div>
<div class="admin_groups">
<div class="row">
<div class="col-md-2">
</div>
</div>
<!--groups user is a member-->
<div class="row mt-3">
{% for i in user_requests%}
{% if i.status == 'Accept' and i.group.creator != i.member %}
<div class="col-4">
<div class="card10">
<div class="header10"> <img class="card_group_img" src="{{i.group.icon.url}}"> </div>
<div class="info10">
  <p class="title10">{{i.group.name}}</p>
  <p>{{i.group.description}}</p>
</div>
<div class="footer10">
  <button type="submit" class=" show_g shadow"> <a  href="{% url 'main:group_dashboard_view' i.group.id user.id  %}"> عرض</a> </button> 
</div>
</div>
</div>

{% endif %}
{% endfor %}
</div>
</div><!--end row-->

<div class="title_bottom">
<h4 class="user_dash_title-group">مجموعاتي</h4>

</div>
<div class="groups_box2">


<!--groups user is a member-->

<div class="row">
  {% for i in user_requests %}
    {% if i.status == 'Accept' and i.group.creator == i.member %}
      <div class="col-4">
        <div class="leader_group">
          <span class="name-group"><a class ="text-decoration-none"href="{% url 'main:group_dashboard_view' i.group.id user.id  %}" class="gap">{{i.group.name}} </a></span>
          <img class="member-img" src="{{ i.group.icon.url }}"> 
        </div>
      </div><!-- col -->
    {% endif %}
  {% endfor %}

</div><!--end row-->


</div><!--col end-->
</div><!--end box-->


</div><!--col end-->


</div><!--end row-->

</div><!--col endjjjjjjjjj-->

</div><!--end rowjjjjjjjj-->
</div>






 <!-- todo Modal -->
                    {% for to in todo_list %}
                    {% if to.id == to.id%}
                    <div class="modal fade" id="todo{{to.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="todo{{to.id }}">تحديث الملف</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'todo_list:update_todo_view' to.id user.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>اسم الملف</h4>
                                                <input name="todo" type="text" placeholder="Science" class="form-control" value="{{to.todo }}" />
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-dark" value="إرسال" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor%}
  {% endblock %}