
{% extends 'main/dashboard_base.html' %}

{% load static %}

{% block title %} ADD New Study Set {% endblock %}
{% block style %}
 <style>

.card {
  --bg-card: #e7e7eb;
  --primary: #171718;
  --primary-800: #fbf6f6;
  --primary-shadow: #d3d2d6;
  --light: #0b0b0b;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--bg-card);
  margin: 20px;
  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 10rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  overflow: hidden;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.size {
  font-size: 0.75rem;
  color: var(--light);
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.5rem;
  background-color: var(--zinc-800);

  font-size: 0.75rem;
  color: var(--light);

  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
  border: 2px solid var(--light);
}
.item-list-button:focus {
  background-color: var(--primary);

  border: 2px solid var(--primary-shadow);

  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  
 
}
body{
  overflow-x: hidden;
 
}
.btn {
    width: 40px !important;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
     
    
}
.dropdown-menu {
    min-width: 100px !important;
}

.dropdown-item {
    padding: 0px 5px !important;
    font-size: 12px !important;
}

 </style>

{% endblock %}

 {% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}


<div class="row ">
<div class="col-2 mt-3">

<div class="group-info">

<h6 class="disctions_title2">الجلسات </h6>
{% for session in sessions %}
    {% if session.study_group_id == group.id %}
        {% if session.user_id == user.id %}
            <div class="requests_card">
                {{ session.topic }}
                {{ session.start_time }}
                <a href="{{ session.start_url }}" target="_blank" class="btn btn-success mr-3">بدء الاجتماع</a>
            </div>
        {% else %}
            <div class="requests_card">
                {{ session.topic }}
                {{ session.start_time }}
                <a href="{{ session.join_url }}" target="_blank" class="btn btn-info">الانضمام إلى الاجتماع</a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}


</div>
</div>


<!-- contant -->
  <div class="col-md-9 mt-5 d-flex flex-column align-items-end">
  <div class="row">
    <div class="col">
      

  <div class="banner-box2">
   <img class="circle3" src="{{group.icon.url}}">
<div class="banner-title">
<h1> {{group.name}}</h1>
<h4>{{group.description}}</h4>
</div>

</div>



 

      
      
    </div>
  </div>

  <!-- Discussion -->
  <div class="row ">
    <div class="col">
      
      <div class="file-box">
      
      
      <h2 class="disctions_title">المراجعة</h2>

        <div class="file-box2">
         <section>
    <div class="container mt-5">
        <h2>اضافة مجموعة جديدة</h2>
        <form action="{% url 'review_sets:add_set_view' group.id %}" method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-2">
            {% csrf_token %}
            
            <div class="row my-3">
                <div class="col-12">
                    <label for="title" class="form-label">عنوان المجموعة</label>
                    <input name="title" type="text" placeholder="العنوان" class="form-control" minlength="5" required/>     
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">الوصف</label>
                    <textarea name="description" class="form-control" minlength="20" required></textarea>
                </div>
                <div class="col-12 ">
                    <input type="submit" class="btn btn-success w-100 " value="اضافة مجموعة" />
                </div>
            </div>
        </form>
    </div>
</section>

      </div><!---->
    </div>
  </div>
  </div>
</div><!-- col end -->




  <div class="col-md-1 d-flex flex-column ">
    <div class="sid_bar2">
    <div class="sid-info2">
     <a class="dropdown-item" href="{% url 'main:user_dashboard_view' user.id %}"><img class="profile-img2"src="{{user.profile.avatar.url}}"></a><br><br>
     <a class=" " href="{% url 'zoom:create_zoom_meeting_view' group.id user.id %}"><i class="sid_icon fa-solid fa-plus"></i> </a><br><strong class="sid_font ">جلسة </strong><br><br>

    <a href="{% url 'main:group_dashboard_view' group.id user.id %}"><i class=" sid_icon fa-solid fa-table-columns"></i><a><br><strong class="sid_font ">المجموعة </strong><br><br>
    <a href="{% url 'attachments:all_attachment_view' group.id %}"><i class=" sid_icon fa-solid fa-folder"></i><a><br><strong class="sid_font ">ملفات </strong><br><br>
    <a href="{% url 'review_sets:all_sets_view' group.id %}"><i class=" sid_icon fa-solid fa-book"></i><a><br><strong class="sid_font ">مراجعة </strong><br><br>
           
            
    
    <!--member leave group button-->
{% for request in user_requests %}
{% if request.member_id == user.id and request.group_id == group.id and request.group.creator != request.member %}
<form action="{% url 'main:accept_reject_member_request_view' user.id request.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="status" value="Reject">
<button class="leave"type="submit"> <i class="fa-solid fa-arrow-right-from-bracket"></i> </button>
</form>
{% endif %}
{% endfor %}

<!--leader delete group button-->
{% for request in user_requests %}
{% if request.member_id == user.id and request.group_id == group.id and request.group.creator == request.member %}
<form action="{% url 'main:creator_delete_group_view' group.id %}" method="post">
{% csrf_token %}
<button class="leave"type="submit"><i class="fa-solid fa-trash"></i></button>
</form>
{% endif %}
{% endfor %}
    </div>
    </div>
  </div>

  
</div><!--end row -->


                
              






               


              
         
           
    
  {% endblock %}

