{% extends 'main/base.html' %}
{% load static %}
{% block title %} All sets {% endblock %}

{% block content %}

<!-- hero عشان اللون بس -->   
<section class="bg-dark" style="width: 100%; height: 300px;">

</section>

<section>
    <div class="container mt-5 px-5">  
        <div class="row g-5">
            <div class="col">
               {% for set in sets %}
                    <div class="col-12 col-md-4">
                        <div class="card rounded-4">
                            <div class="bg-white">
                            </div>
                            <div class="card_content mt-3">
                                <h2 class="">{{set.title}}</h2>
                                <p class="">{{ set.description }}</p>
                                <p class="">{{ set.created_at }}</p>
                                <p class="">{{ set.created_by }}</p>
                                <p><a href="#" class="text-decoration-none know-more">START</a></p>
                            </div>
                        </div>
                    </div>
               {% endfor %}     
            </div>
        </div>
    </div>
</section>
{% endblock %}