{% extends 'main/base.html' %}
{% load static %}
{% block title %} كل المجموعات {% endblock %}

{% block content %}
<style>

.card {
  --bg-card: #e7e7eb;
  --primary: #171718;
  --primary-800: #fbf6f6;
  --primary-shadow: #d3d2d6;
  --light: #0b0b0b;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--bg-card);
  margin: 20px;
  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 10rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  overflow: hidden;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.size {
  font-size: 0.75rem;
  color: var(--light);
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.5rem;
  background-color: var(--zinc-800);

  font-size: 0.75rem;
  color: var(--light);

  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
  border: 2px solid var(--light);
}
.item-list-button:focus {
  background-color: var(--primary);

  border: 2px solid var(--primary-shadow);

  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  
 
}




</style>



<section>
    <div class="container mt-5 px-5">  
      <div class="row d-flex text-end">
        <p><a href="{% url 'review_sets:add_set_view' group.id %}" class="text-decoration-none know-more"><span class="material-symbols-outlined">add_to_photos</span></a></p>      

      </div>
        <div class="row g-5" style="display: flex; flex-wrap: wrap;">
           
           {% for r_set in sets %}
           <div class="col-12 col-md-4 text-center">
           <div class="card">
            <div class="image_container">
                <img src="{% static 'images/card.png' %}" alt="">
            </div>
            <div class="title">
                <h5><a href="{% url 'review_sets:full_set_view' r_set.id group.id %}" style="text-decoration: none; color: #363636;">{{r_set.title}}</a></h5>
                <p style="font-size: 0.75rem;"> {{ r_set.created_at }}</p>
                
                <li>
                    <strong>{{ review_set.title }}</strong> - {{ r_set.flashcard.all.count }} flashcards
                </li>
            
            </div>
          
            <div class="action gap-2 d-flex justify-content-center">
                {% if request.user.id == r_set.created_by.id  %}
                <a href="{% url 'review_sets:delete_set_view' r_set.id group.id %}" class="btn btn-danger rounded-pill">حذف</a>
                {% endif %}
                <a href="{% url 'review_sets:full_set_view' r_set.id group.id %}" class="btn btn-primary rounded-pill">مراجعة</a>
            </div>
          </div>
        </div>
           {% endfor %}
           
        </div>
        
    </div>
</section>


{% endblock %}





