
{% extends 'main/dashboard_base.html' %}

{% load static %}

{% block style %}
 <style>
.card {
  margin: 10px 10px;
}

input[type='checkbox'] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type='checkbox']:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}


.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}



.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}



.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}



.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
 
}

.solution_card .solu_description p {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}


.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}
body{
  overflow-x: hidden;
 
}
.btn {
    width: 40px !important;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
     
    
}
.dropdown-menu {
    min-width: 100px !important;
}

.dropdown-item {
    padding: 0px 5px !important;
    font-size: 12px !important;
}

 </style>

{% endblock %}

 {% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}


<div class="row ">
<div class="col-2 mt-3">

<div class="group-info">

<h6 class="disctions_title2">الجلسات </h6>
{% for session in sessions %}
    {% if session.study_group_id == group.id %}
        {% if session.user_id == user.id %}
            <div class="requests_card">
                {{ session.topic }}
                {{ session.start_time }}
                <a href="{{ session.start_url }}" target="_blank" class="btn btn-success mr-3">بدء الاجتماع</a>
            </div>
        {% else %}
            <div class="requests_card">
                {{ session.topic }}
                {{ session.start_time }}
                <a href="{{ session.join_url }}" target="_blank" class="btn btn-info">الانضمام إلى الاجتماع</a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}


</div>
</div>


<!-- contant -->
  <div class="col-md-9 mt-5 d-flex flex-column align-items-end">
  <div class="row">
    <div class="col">
      

  <div class="banner-box2">
   <img class="circle3" src="{{group.icon.url}}">
<div class="banner-title">
<h1> {{group.name}}</h1>
<h4>{{group.description}}</h4>
</div>

</div>



 

      
      
    </div>
  </div>

  <!-- Discussion -->
  <div class="row ">
    <div class="col">
      
      <div class="file-box">
      
      
      <h2 class="disctions_title">المراجعة</h2>

        <div class="file-box2">
         
<section>
    <div class="container mt-5 text-center">  
        <div class="row mb-4 g-4 ">
            <h2><b>{{ review_set.title }}</b></h2>
            <p>{{ review_set.description }}</p>
        </div>
        <div>
          <P>انشئت من قبل  {{review_set.created_by.first_name}}</P>

          {% if request.user.id == review_set.created_by.id  %}

          <a href="{% url 'review_sets:set_details_view' review_set.id group.id %}" class="btn btn-primary">تعديل</a>
          {% endif %}

        </div>
    </div>
</section>




<section>
   
    <div class="container mb-5 ">
        <div class="row">
            <!-- Card 1 -->

          <input type="checkbox" id="card-1"/>
          <label class="col-md-12 card-container" for="card-1">
            {% for card in cards %}
            <div class="card-flip">
                <!-- Card 1 Front -->

                <div class=" front text-center pt-3">
                    <span class="fa fa-4x fa-smile-o text-center"></span>   
                    
                    <div class="col-12 col-md-12">
                        <div class="our_solution_category">
                            <div class="solution_cards_box">
                                <div class="solution_card justify-content-center">
                                    <div class="hover_color_bubble">
                                    </div>
                                    <div class="solu_title mt-4">
                                        <h3>السؤال</h3>
                                    </div>
                                    <div class="solu_description mt-4">
                                        <p>
                                            {{ card.question }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
                <!-- End Card 1 Front -->
      
                <!-- Card 1 Back -->
                <div class=" back text-center pt-3">
                    <span class="fa fa-4x fa-smile-o text-center"></span>
                    <div class="col-12 col-md-12">
                        <div class="our_solution_category">
                            <div class="solution_cards_box">
                                <div class="solution_card justify-content-center">
                                    <div class="hover_color_bubble">
                                    </div>
                                    <div class="solu_description">
                                        <!-- ألمفروض مافي زر هنا -->
                                    </div>
    
                                    <div class="solu_title mt-4">
                                        <h3>الجواب</h3>
                                    </div>
                                    <div class="solu_description mt-4">
                                        <p>
                                            {{ card.answer }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>

                
                <!-- End Card 1 Back -->
            </div>
          </label>

    
          {% endfor %}
          <!-- End Card 1 -->
        </div>
        <div class="row mt-5">
            <div class="col text-center align-items-center">
                {% for page in pages_count %}
                    <a href="?page={{page}}" class="btn border {% if request.GET.page == page %} btn-primary {% elif page == '1' and 'page' not in request.GET %} btn-primary {% endif %}">{{page}}</a>
                {% endfor %}
            </div>
    
        </div>
    </div>





  

</section>

      </div><!---->
    </div>
  </div>
  </div>
</div><!-- col end -->




  <div class="col-md-1 d-flex flex-column ">
    <div class="sid_bar2">
    <div class="sid-info2">
     <a class="dropdown-item" href="{% url 'main:user_dashboard_view' user.id %}"><img class="profile-img2"src="{{user.profile.avatar.url}}"></a><br><br>
     <a class=" " href="{% url 'zoom:create_zoom_meeting_view' group.id user.id %}"><i class="sid_icon fa-solid fa-plus"></i> </a><br><strong class="sid_font ">جلسة </strong><br><br>

    <a href="{% url 'main:group_dashboard_view' group.id user.id %}"><i class=" sid_icon fa-solid fa-table-columns"></i><a><br><strong class="sid_font ">المجموعة </strong><br><br>
    <a href="{% url 'attachments:all_attachment_view' group.id %}"><i class=" sid_icon fa-solid fa-folder"></i><a><br><strong class="sid_font ">ملفات </strong><br><br>
    <a href="{% url 'review_sets:all_sets_view' group.id %}"><i class=" sid_icon fa-solid fa-book"></i><a><br><strong class="sid_font ">اسأله </strong><br><br>
           
            
    
    <!--member leave group button-->
{% for request in user_requests %}
{% if request.member_id == user.id and request.group_id == group.id and request.group.creator != request.member %}
<form action="{% url 'main:accept_reject_member_request_view' user.id request.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="status" value="Reject">
<button class="leave"type="submit"> <i class="fa-solid fa-arrow-right-from-bracket"></i> </button>
</form>
{% endif %}
{% endfor %}

<!--leader delete group button-->
{% for request in user_requests %}
{% if request.member_id == user.id and request.group_id == group.id and request.group.creator == request.member %}
<form action="{% url 'main:creator_delete_group_view' group.id %}" method="post">
{% csrf_token %}
<button class="leave"type="submit"><i class="fa-solid fa-trash"></i></button>
</form>
{% endif %}
{% endfor %}
    </div>
    </div>
  </div>

  
</div><!--end row -->


                
              






               


              
         
  <script>
   $(".flippable").click(function(){
  $(this).toggleClass("flipme");
    });
</script>
    
  {% endblock %}

