{% extends 'main/base.html' %}
{% load static %}
{% block title %} All Events {% endblock %}

{% block content %}

<!-- hero عشان اللون بس -->   
<section class="bg-dark" style="width: 100%; height: 300px;">

</section>

<section>
    <div class="container mt-5 px-5">  
        <div class="row g-5">
            <h2>{{ review_set.title }}</h2>
            <p>{{ review_set.description }}</p>

            <div class="row">

                <div class="col-md-6">
                    <div class="row mt-4">
                        {% for card in cards %}
                            <div class="col-6 mb-3">
                                <div class="PL d-flex flex-column gap-3 border border-1 shadow p-2 rounded-3 h-100 mb-4">
                                    <p>السؤال:{{ card.question }}</p>
                                    <p>الجواب: {{ card.answer }}</p>
                                    

                                    <!-- Update  -->
                                    <button type="button" class="btn btn-dark mt-auto" data-bs-toggle="modal" data-bs-target="#updateCardModal{{ card.id }}">
                                        تحديث البطاقة
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="updateCardModal{{ card.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">تحديث البطاقة</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'review_sets:update_card_view' review_set.id card.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <h4> السؤال</h4>
                                                                <input name="question" type="text" class="form-control" value="{{ card.question }}" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <h4> الجواب</h4>
                                                                <input name="answer" type="text" class="form-control" value="{{ card.answer }}" />
                                                            </div>
                                                        </div>
                                                       
                                                        <input type="submit" class="btn btn-dark" value="حفظ التعديلات" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- نهاية تحديث  -->



                                    <a href="{% url 'review_sets:delete_card_view' review_set.id card.id %}" class="btn btn-dark"> حذف البطاقة </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <!-- هنا زر الاضافة  -->
                <div class="col-md-6">
                    <button type="button" class="btn btn-dark float-end" data-bs-toggle="modal" data-bs-target="#addCardModal">
                        اضافة بطاقة 
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">إضافة بطاقة</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'review_sets:add_card_view' review_set.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                        {% csrf_token %}
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <h4>السؤال </h4>
                                                <input name="question" type="text" placeholder="question" class="form-control" required minlength="2" />
                                            </div>
                                            <div class="col-md-6">
                                                <h4>الجواب </h4>
                                                <input name="answer" type="text" placeholder="answer" class="form-control" required minlength="2" />
                                            </div>
                                        </div>
                                      
                                        <input type="submit" class="btn btn-dark" value=" حفظ البطاقة" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</section>
{% endblock %}