{% extends 'main/base.html' %}
{% load static %}
{% block title %} جميع الفعاليات {% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}

<section>
    <div class="container mt-5">  
        <div class="row g-5 d-flex mt-5">
            <div class="col-6 text-start">
                <a href="{% url 'review_sets:full_set_view' review_set.id group.id %}" class="btn btn-dark">العودة</a>
            </div>
            <div class="col-6 text-end">
                <a href="{% url 'review_sets:delete_set_view' review_set.id group.id %}" class="btn btn-dark">حذف المجموعة </a>
            </div>
        </div>

        <div class="row mt-5 mb-5 bg-light py-4 rounded-1">
            <form action="{% url 'review_sets:update_set_view' review_set.id group.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %}

                    <div class="col-12">
                        <label for="title" class="form-label ">عنوان المجموعة</label>
                        <input name="title" type="text" value="{{ review_set.title }}" placeholder="عنوان المجموعة" class="form-control" minlength="5" />     
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">الوصف</label>
                        <textarea name="description" class="form-control" minlength="20">{{ review_set.description }}</textarea>
                    </div>
                    <div class="col-12 ">
                        <input type="submit" class="btn btn-success w-100 " value="تحديث المجموعة" />
                    </div>                    
                </div>
            </form>
        </div>
    </div>
    
</section>





<section> 
    <div class="container">
            <!-- Card 1 -->

            {% for card in cards %}

            <div class="row mt-4  bg-light py-4 rounded-1">

            <form action="{% url 'review_sets:update_card_view' review_set.id card.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <h4> السؤال</h4>
                        <input name="question" type="text" class="form-control" value="{{ card.question }}" />
                    </div>
                    <div class="col-md-6">
                        <h4> الجواب</h4>
                        <input name="answer" type="text" class="form-control" value="{{ card.answer }}" />
                    </div>
                </div>
                <input type="submit" class="btn btn-dark" value="حفظ التعديلات" />
            </form>

          <div class="solu_description ">
            {% if request.user.id == card.review_set.created_by.id  %}                    

              <a href="{% url 'review_sets:delete_card_view' review_set.id card.id %}" class="btn btn-dark"> حذف البطاقة </a>
            {% endif %}

           
        </div>
    </div>

          {% endfor %}
          <!-- End Card 1 -->
        </div>
        
</section>

<section>
    <div class="container">
        <div class="row mt-4 mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-success px-5 py-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#addCardModal">
                    اضافة بطاقة 
                </button>
          
              <div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">إضافة بطاقة</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'review_sets:add_card_view' review_set.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6">
                            <h4>السؤال</h4>
                            <input name="question" type="text" placeholder="سؤال" class="form-control" required minlength="2" />
                          </div>
                          <div class="col-md-6">
                              <h4>الجواب </h4>
                              <input name="answer" type="text" placeholder="جواب" class="form-control" required minlength="2" />
                          </div>
                        </div>
                        <input type="submit" class="btn btn-dark" value=" حفظ البطاقة" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>


{% endblock %}