{% extends 'main/base.html' %}
{% load static %}
{% block title %} جميع الفعاليات {% endblock %}

{% block css %}
<style>
.card {
  margin: 10px 10px;
}

input[type='checkbox'] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type='checkbox']:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}


.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}



.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}



.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}



.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
 
}

.solution_card .solu_description p {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}


.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}

</style>
{% endblock %}

{% block content %}
<section>
    <div class="container mt-5 px-5">  
        <div class="row g-5">
            <h2>{{ review_set.title }}</h2>
            <p>{{ review_set.description }}</p>

            <!-- المودال حق التحديث -->

            <button type="button" class="btn btn-dark mt-auto" data-bs-toggle="modal" data-bs-target="#updateAttachmentModal{{ review_set.id }}">
                تحديث المجموعة
            </button>
            <a href="{% url 'review_sets:delete_set_view' review_set.id group.id %}" class="btn btn-dark">حذف المجموعة </a>

            <div class="modal fade" id="updateAttachmentModal{{ review_set.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">تحديث المجموعة</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'review_sets:update_set_view' review_set.id group.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <label for="title" class="form-label">عنوان المجموعة</label>
                                        <input name="title" type="text" value="{{ review_set.title }}" placeholder="عنوان المجموعة" class="form-control" minlength="5" />     
                                    </div>
                                    <div class="col-12">
                                        <label for="description" class="form-label">الوصف</label>
                                        <textarea name="description" class="form-control" minlength="20">{{ review_set.description }}</textarea>
                                    </div>
                                    <div class="col-12 ">
                                        <input type="submit" class="btn btn-success w-100 " value="تحديث المجموعة" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          

        </div>

        <div class="row">
           
      <!-- حق اضافة الكارد-->
            <div class="col-md-6">
                <button type="button" class="btn btn-dark float-end" data-bs-toggle="modal" data-bs-target="#addCardModal">
                    اضافة بطاقة 
                </button>
                <div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">إضافة بطاقة</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'review_sets:add_card_view' review_set.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>السؤال </h4>
                                            <input name="question" type="text" placeholder="سؤال" class="form-control" required minlength="2" />
                                        </div>
                                        <div class="col-md-6">
                                            <h4>الجواب </h4>
                                            <input name="answer" type="text" placeholder="جواب" class="form-control" required minlength="2" />
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-dark" value=" حفظ البطاقة" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section>
   
    <div class="container">
        <div class="row">
            <!-- Card 1 -->

          <input type="checkbox" id="card-1"/>
          <label class="col-md-12 card-container" for="card-1">
            {% for card in cards %}
            <div class="card-flip">
                <!-- Card 1 Front -->

                <div class=" front text-center pt-3">
                    <span class="fa fa-4x fa-smile-o text-center"></span>   
                    
                    <div class="col-12 col-md-12">
                        <div class="our_solution_category">
                            <div class="solution_cards_box">
                                <div class="solution_card justify-content-center">
                                    <div class="hover_color_bubble">
                                    </div>
                                    <div class="solu_title mt-4">
                                        <h3>السؤال</h3>
                                    </div>
                                    <div class="solu_description mt-4">
                                        <p>
                                            {{ card.question }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
                <!-- End Card 1 Front -->
      
                <!-- Card 1 Back -->
                <div class=" back text-center pt-3">
                    <span class="fa fa-4x fa-smile-o text-center"></span>
                    <div class="col-12 col-md-12">
                        <div class="our_solution_category">
                            <div class="solution_cards_box">
                                <div class="solution_card justify-content-center">
                                    <div class="hover_color_bubble">
                                    </div>
                                    <div class="solu_description">
                                        <!-- ألمفروض مافي زر هنا -->
                                    </div>
    
                                    <div class="solu_title mt-4">
                                        <h3>الجواب</h3>
                                    </div>
                                    <div class="solu_description mt-4">
                                        <p>
                                            {{ card.answer }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>

                
                <!-- End Card 1 Back -->
            </div>
          </label>


          <div class="solu_description ">
            {% if request.user.id == card.review_set.created_by.id  %}                    
              <button type="button" class="btn btn-dark mt-auto" data-bs-toggle="modal" data-bs-target="#updateCardModal{{ card.id }}">
                  تحديث البطاقة
              </button>
              <a href="{% url 'review_sets:delete_card_view' review_set.id card.id %}" class="btn btn-dark"> حذف البطاقة </a>
            {% endif %}

           
        </div>
        
<!--تحديث الكارد-->

<div class="modal fade" id="updateCardModal{{ card.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تحديث البطاقة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'review_sets:update_card_view' review_set.id card.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h4> السؤال</h4>
                            <input name="question" type="text" class="form-control" value="{{ card.question }}" />
                        </div>
                        <div class="col-md-6">
                            <h4> الجواب</h4>
                            <input name="answer" type="text" class="form-control" value="{{ card.answer }}" />
                        </div>
                    </div>
                    <input type="submit" class="btn btn-dark" value="حفظ التعديلات" />
                </form>
            </div>
        </div>
    </div>
</div>
          {% endfor %}
          <!-- End Card 1 -->
        </div>
        <div class="row mt-5">
            <div class="col text-center align-items-center">
                {% for page in pages_count %}
                    <a href="?page={{page}}" class="btn border {% if request.GET.page == page %} btn-primary {% elif page == '1' and 'page' not in request.GET %} btn-primary {% endif %}">{{page}}</a>
                {% endfor %}
            </div>
    
        </div>
    </div>
</section>

<script>
   $(".flippable").click(function(){
  $(this).toggleClass("flipme");
    });
</script>
{% endblock %}