{% extends 'main/base.html' %}

{% block title %}{{ user_object.username }} Profile{% endblock %}
{% load static %}
{% block content%}
<section>
<div class="container my-5"> 
  <div class="row justify-content-center align-items-end" style="height: 100px;"> 
      <div class="col-md-3 text-center">
          
          <div class="shadow-lg" style="background-color: white; border-radius: 10px; padding: 10px;">
              <img src="{{ user.profile.avatar.url }}" 
                   style="width: 100px; border-radius: 50%; object-fit: cover;" 
                   alt="صورة المستخدم"/> 
              <h3 class="mt-2">@{{ user.username }}</h3> 
          </div>
      </div>
      
      
      <div class="col-md-8">
          <div class="card shadow" style="border-radius: 20px;">
              <div class="card-body">
                  <h3 class="card-title text-center mb-4">الملف الشخصي</h3> 
                  
                  
                  <div class="row mb-3">
                      <div class="col-4"><strong>الاسم الأول:</strong></div>
                      <div class="col-8">{{ user.first_name }}</div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-4"><strong>الاسم الأخير:</strong></div>
                      <div class="col-8">{{ user.last_name }}</div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-4"><strong>البريد الإلكتروني:</strong></div>
                      <div class="col-8"><a href="mailto:{{ user.email }}" class="text-decoration-none text-dark">{{ user.email }}</a></div> <!-- بريد إلكتروني -->
                  </div>
                  
                  
                  <div class="row mb-3">
                      <div class="col-4"><strong>LinkedIn:</strong></div>
                      <div class="col-8"><a href="{{ user.profile.linkedin_link }}" class="text-decoration-none text-dark">{{ user.profile.linkedin_link }}</a></div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-4"><strong>GitHub:</strong></div>
                      <div class="col-8"><a href="{{ user.profile.github_link }}" class="text-decoration-none text-dark">{{ user.profile.github_link }}</a></div>
                  </div>
                  
                  
                  {% if request.user == user or request.user.is_superuser %}
                  <div class="d-flex justify-content-center gap-3"> 
                      <a href="{% url 'accounts:update_user_profile_view' user_id=request.user.id %}" class="btn btn-outline-dark">تحديث</a> 
                      
                     
                  </div>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>
</section>
{% endblock %}
