{% extends 'main/base.html' %}

{% block title%} contact {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
<section class="bg-dark" style="width: 100%; height: 300px;"></section>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 offset-md-3">
                <div class="card" style="margin-left:150px ;">
                    <div class="card-body">
                        <h5 class="card-title">تواصل معنا</h5>
                        <form action="{% url 'contact:contact_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">اسمك</label>
                                <input name="name" type="text" placeholder="مثل:احمد" class="form-control" required minlength="2"  value="{% if request.user.is_authenticated %} {{ request.user.username}}{% endif %}"  />
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">البريد الالكتروني</label>
                                <input name="email" type="email" placeholder="email@example.com" class="form-control" required minlength="5" onclick="document.querySelector('a[href=\'mailto:email@example.com\']').click();"  value="{% if request.user.is_authenticated %} {{ request.user.email}}{% endif %}" />
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">الرسالة</label>
                                <textarea name="message" placeholder="محتوى الرسالة"  class="form-control" required minlength="3"></textarea>
                            </div>
                            <input type="submit" class="btn btn-dark" value="إرسال" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5" style="margin: 300px;">
            <div class="col-md-10 offset-md-3 mb-4" >
             {% if request.user.is_superuser %}
                 <a class="text-dark text-decoration-none" href="{% url 'contact:message_view' %}">عرض الرسائل المرسلة <span class="material-symbols-outlined align-middle">arrow_forward</span></a>
             {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}