{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    تواصل معنا
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <section>
        <div class="container mt-5 mb-5 pt-5">
            <div class="row">
                <div class="col-12">
                    <div class="mb-5">
                        <h2 class="display-5 fw-bold text-center">تواصل معنا</h2> 
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center align-items-center mb-3">
                <div class="col-12">
                    <div class="row gy-5 justify-content-center">
                        <div class="col-12 col-lg-5">
                            <form action="{% url 'contact:contact_view' %}" method="POST" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                                {% csrf_token %}                

                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="name" class="form-control border-0 border-bottom rounded-0" name="name" id="name" placeholder="أحمد" required>
                                            <label for="name" class="form-label">اسمك</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" required>
                                            <label for="email" class="form-label">البريد الإلكتروني</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="message" class="form-control border-0 border-bottom rounded-0" name="message" id="message" placeholder="أحمد" required>
                                            <label for="message" class="form-label">الرسالة</label>
                                        </div>
                                    </div>                             

                                    <div class="col-12">
                                        <div class="d-grid">
                                            <input type="submit" class="btn btn-primary rounded-5" value="إرسال" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-md-1 d-flex align-items-center justify-content-center gap-3 flex-lg-column">
                            <div class="bg-dark h-100 d-none d-lg-block" style="width: 1px; --bs-bg-opacity: .1;"></div>
                            <div class="bg-dark w-100 d-lg-none" style="height: 1px; --bs-bg-opacity: .1;"></div>
                        </div>
                        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/contact.png' %}" alt="صورة التواصل" class="log-img" style="width: 100%;">
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <a class="text-dark text-decoration-none" href="{% url 'contact:message_view' %}">عرض الرسائل المرسلة <span class="material-symbols-outlined align-middle">arrow_forward</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

