{% extends 'main/base.html' %}
{% block title %} message {% endblock %}
{% block content %}

<section class="bg-dark" style="width: 100%; height: 300px;"></section>

<section>
  <div class="row">
    {% for message in contacts %}
      <div class="col-md-4 mt-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ message.user }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <a href="mailto:{{ message.email }}">{{ message.email }}</a>
            </h6>
            <p class="card-text">
              {% if message.message|length > 50 %}
                {{ message.message|slice:":50"}}<strong> ....قراءة المزيد</strong>
              {% else %}
                {{ message.message }}
              {% endif %}
            </p>
            <p class="card-text">تاريخ الإرسال: {{ message.msg_at }}</p>
            <a href="{% url 'contact:delete_message_view' message.id %}" class="btn btn-danger">حذف الرسالة</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}